.happy/terraform/modules/gisaid-sfn/sfn.yml
Comment: SWIPE single-wdl pipeline entry point
StartAt: RunEC2
TimeoutSeconds: 259200 # 72 hours (total execution run time, including Batch job scheduling delays)
States:
  Ingest:
    Type: Task
    Resource: arn:aws:states:::batch:submitJob.sync
    Parameters:
      JobQueue: "${batch_ec2_job_queue_name}"
      JobName: ingest-gisaid
      JobDefinition: &JobDefinition "${batch_job_definition_name}"
      Timeout: &RunBatchTimeout
        AttemptDurationSeconds: 18000 # 5 hours
      ContainerOverrides:
        Memory: 8192
        Command: ["trunk", "src/backend/aspen/workflows/ingest_gisaid/ingest.sh"]
        Environment: &RunEnvironment
          - Name: INPUT_JOB_TEST
            Value.$: $.INPUT_JOB_TEST
    ResultPath: $.BatchJobDetails.Run
    Next: Transform
    Retry: &BatchRetryConfig
      - ErrorEquals: ["Batch.AWSBatchException"]
        IntervalSeconds: 15
        MaxAttempts: 2
  Transform:
    Type: Task
    Resource: arn:aws:states:::batch:submitJob.sync
    Parameters:
      JobQueue: "${batch_ec2_job_queue_name}"
      JobName: transform-gisaid
      JobDefinition: &JobDefinition "${batch_job_definition_name}"
      Timeout: &RunBatchTimeout
        AttemptDurationSeconds: 18000 # 5 hours
      ContainerOverrides:
        Memory: 15000
        Command: ["trunk", "src/backend/aspen/workflows/transform_gisaid/transform.sh", "TODO_ENTITY_ID_GOES_HERE"]
        Environment: &RunEnvironment
          - Name: INPUT_JOB_TEST
            Value.$: $.INPUT_JOB_TEST
    ResultPath: $.BatchJobDetails.Run
    Next: Align
    Retry: &BatchRetryConfig
      - ErrorEquals: ["Batch.AWSBatchException"]
        IntervalSeconds: 15
        MaxAttempts: 2
  Align:
    Type: Task
    Resource: arn:aws:states:::batch:submitJob.sync
    Parameters:
      JobQueue: "${batch_ec2_job_queue_name}"
      JobName: align-gisaid
      JobDefinition: &JobDefinition "${batch_job_definition_name}"
      Timeout: &RunBatchTimeout
        AttemptDurationSeconds: 18000 # 5 hours
      ContainerOverrides:
        Vcpus: 32
        Memory: 420000
        Command: ["trunk", "src/backend/aspen/workflows/align_gisaid/align.sh", "TODO_ENTITY_ID_GOES_HERE"]
        Environment: &RunEnvironment
          - Name: INPUT_JOB_TEST
            Value.$: $.INPUT_JOB_TEST
    ResultPath: $.BatchJobDetails.Run
    End: true
    Retry: &BatchRetryConfig
      - ErrorEquals: ["Batch.AWSBatchException"]
        IntervalSeconds: 15
        MaxAttempts: 2
  RunEC2:
    Type: Task
    Resource: arn:aws:states:::batch:submitJob.sync
    Parameters:
      JobQueue: "${batch_ec2_job_queue_name}"
      JobName.$: $$.Execution.Name
      JobDefinition: &JobDefinition "${batch_job_definition_name}"
      Timeout: &RunBatchTimeout
        AttemptDurationSeconds: 18000 # 5 hours
      ContainerOverrides:
        Memory.$: $.RunEC2Memory
        Environment: &RunEnvironment
          - Name: INPUT_JOB_TEST
            Value.$: $.INPUT_JOB_TEST
    ResultPath: $.BatchJobDetails.Run
    End: true
    Retry: &BatchRetryConfig
      - ErrorEquals: ["Batch.AWSBatchException"]
        IntervalSeconds: 15
        MaxAttempts: 2
